<header>
  <mat-toolbar color="primary" class="title font-size-variable">
  <span class="mdi mdi-email"></span>
    Contacto
  </mat-toolbar>
</header>

<div class="page-content font-size-variable">

  <div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="font-size-variable">Nosotros</mat-card-title>
        </mat-card-header>
        <mat-card-content class="font-size-variable">
          <p>Nosotros somos una empresa dedicada al 100% en nuestros usuarios.</p>
        </mat-card-content>
    </mat-card>
    

    <mat-card>
      <mat-card-header>
          <mat-card-title class="font-size-variable">Contacto</mat-card-title>
      </mat-card-header>
      <mat-card-content class="font-size-variable">
        <form class="form">
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input
              #msgEmail
              matInput
              [formControl]="emailFormControl"
              [errorStateMatcher]="matcher"
              placeholder="Introduce tu email"
            />
            <mat-error
              *ngIf="
                emailFormControl.hasError('email') &&
                !emailFormControl.hasError('required')
              "
            >
              Por favor introduce un email correcto
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              El correo es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
      
      
          <mat-form-field class="full-width">
            <mat-label>Asunto</mat-label>
            <input
              #msgAsunto
              matInput
              [formControl]="emailFormControl"
              [errorStateMatcher]="matcher"
              placeholder="Asunto"
            />
          </mat-form-field>
      
          <mat-form-field class="full-width">
            <mat-label>Comentario</mat-label>
            <textarea
            #msgTexto
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="15"></textarea>
          </mat-form-field>
      
          <button
          mat-button
          mat-flat-button
          color="primary"
          (click)="mailerService.sendMail(msgEmail.value, msgAsunto.value, msgTexto.value)">
          Enviar correo
          </button>
        </form>

    <div class="spacer"></div>
    <p>Oficinas Tel. (449) 2846583</p>
    <p>Juan Jose Arriaga Luna</p>
    <p>Tel. (449) 8983984</p>
    <p>Brandon Ponce López</p>
    <p>Tel. (449) 2974624</p>
    <p>Ana Laura Arrellin Reyes</p>
    <p>Tel. (449) 12387423</p>
    <p>Bernardo Galvan Rivera</p>
    <p>Tel. (449) 30567493</p>
    <p>Rodolfo Gonzalez Delgado</p>
    <p>Tel. (449) 13804984</p>
    <p>Sientase con la libertad de contactarnos en nuestras redes sociales</p>
        <span class="mdi mdi-facebook"></span>
        <span class="mdi mdi-twitter"></span>
        <span class="mdi mdi-whatsapp"></span>
        <span class="mdi mdi-pinterest"></span>
      </mat-card-content>
  </mat-card>

    <mat-card>
      <mat-card-header>
          <mat-card-title class="font-size-variable">Horario</mat-card-title>
      </mat-card-header>
      <mat-card-content class="font-size-variable">
        <p>De Lunes a Viernes</p>
        <p>Todos los días 9am - 6pm</p>
        <p>Sabados</p>
        <p>Solo en horario de 11:00am - 4:00pm</p>
        <p>Domingos</p>
        <p>Nos encontramos fuera de servicio.</p>
      </mat-card-content>
  </mat-card>

    <p>Todos los derechos reservados.</p>
  </div>
</div>