<header>
  <mat-toolbar color="primary" class="title">
    <span class="mdi mdi-key-change"></span> Recuperar contraseña
  </mat-toolbar>
</header>
<div class="page-content">
  <div class="container">
    <form class="form">
      <mat-form-field class="full-width">
        <mat-label
          >Correo electrónico</mat-label
        >
        <input
          matInput
          #passwordResetEmail
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Introduce tu email"
        />
      </mat-form-field>

      <!-- Calling ForgotPassword from AuthService Api -->
      <button
        mat-flat-button
        color="primary"
        (click)="authService.ForgotPassword(passwordResetEmail.value)"
      >
        Reestablecer contraseña
      </button>
    </form>
    <br>
    <span
      >Volver a
      <span class="redirect" routerLink="/sign-in">inicio de sesión</span></span
    >
  </div>
</div>
