  .example-app-name {
    margin-left: 5px;
  }

  .content {
    margin-top: 64px;
    bottom: 0px;
    min-height: calc(100vh - 64px);
  }

  .mat-toolbar {
    position: fixed;
    z-index: 2;
  }

  h1.example-app-name {
    margin-left: 8px;
  }

  .example-app-name {
    display: flex;
  }

  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;

  }

  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .user-icon {
    width: 30px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    margin-right: 5px;
  }

