<div
  class="example-container"
  [class.example-is-mobile]="mobileQuery.matches"
>
  <mat-toolbar color="primary" class="example-toolbar mat-elevation-z6">
    <button
    class="font-resize"
    mat-icon-button (click)="snav.toggle()">
      <span class="mdi mdi-menu"></span>
    </button>
    <span style="margin-left: 20px;"></span>
    <img src="assets/img/logo.svg" alt="logo">
    <h1 *ngIf="!mobileQuery.matches" class="example-app-name">AutoMaGa</h1>
    <div class="flex-spacer"></div>



    <span class="mat-button-wrapper">
      <button
      class="font-resize"
      mat-button [matMenuTriggerFor]="accMenu" aria-label="Menú de usuario" matTooltip="Menú de usuario">
      <span class="mdi mdi-menu-down">
        <span class="mdi mdi-human-wheelchair"></span>
      </span>
    </button>

  </span>

    <mat-menu #accMenu="matMenu">

        <button
        class="font-resize"
        (click)="fontSizeService.increaseFontSize()"
        mat-menu-item>
          <span
          class="mdi mdi-format-font-size-increase"></span>
        </button>

        <button
        class="font-resize"
        (click)="fontSizeService.decreaseFontSize()"
        mat-menu-item>
          <span
          class="mdi mdi-format-font-size-decrease"></span>
        </button>

    </mat-menu>

    <span class="mat-button-wrapper" *ngIf="authService.userData as user; else preLogin">
      <button
      class="font-resize"
      mat-button [matMenuTriggerFor]="userMenu" aria-label="Menú de usuario" matTooltip="Menú de usuario">
      <img class="user-icon" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}" />
      {{user.displayName}}
      <span class="mdi mdi-menu-down"></span>
    </button>

  </span>

  <ng-template class="mat-button-wrapper" #preLogin>
    <button
    class="font-resize"
    mat-button
    [matMenuTriggerFor]="userMenu"
    aria-label="Menú de usuario"
    matTooltip="Menú de usuario"
    class="font-resize">
      <span class="mdi mdi-account-circle"></span> Aún no ha iniciado sesión
      <span class="mdi mdi-menu-down"></span>
    </button>
  </ng-template>



    <mat-menu #userMenu="matMenu">
      <span *ngIf="authService.userData else loginMenu">
        <button
        class="font-resize"
        mat-menu-item [routerLink]="['../dashboard']">
          Página de usuario
        </button>
        <!-- Calling SignOut() Api from AuthService -->
        <button
        class="font-resize"
        mat-menu-item (click)="authService.SignOut()" [routerLink]="['../home']">
          Cerrar sesión
        </button>
      </span>

      <ng-template #loginMenu>
        <button
        class="font-resize"
        mat-menu-item [routerLink]="['../sign-in']">
          Inciar sesión
        </button>
        <button
        class="font-resize"
        mat-menu-item [routerLink]="['../sign-up']">
          Registrarse
        </button>
      </ng-template>

    </mat-menu>


  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
  >
    <mat-sidenav
      #snav
      opened
      class="mat-elevation-z6"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]=true
      fixedTopGap="64"
    >
      <mat-nav-list>
        <a
        class="font-resize"
        mat-list-item (click)="mobileQuery.matches ? snav.toggle() : ''"
        [routerLink]="nav.route" *ngFor="let nav of fillerNav">
          <span class="mdi {{ nav.icon }}"></span>&nbsp;{{ nav.name }}</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <!-- salida de componentes -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
