<!-- <p>about works!</p> -->
<div class="row pt-5 px-5" >
  <div class="col-xl">
    <div class="mx-auto" style="width: 1000px; height: 550px">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
         <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
       </ol>
       <div class="carousel-inner">
          <div class="carousel-item active">
           <img class="d-block w-100" src="../../assets/img/imagen0.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
         <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/imagen2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
               <h5>NUEVAS INSTALACIONES</h5>                       
            </div>
          </div>
          <div class="carousel-item">
             <img class="d-block w-100" src="../../assets/img/imagen3.jpg" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>NUEVAS INSTALACIONES</h5>                       
              </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/imagen4.jpg" alt="Four slide">
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
        </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
    </div>
  </div>
  <!-- card-->
  <div class="text-center">
    <h1 class="">
        <small class="text-danger display-2">Producto</small>
    </h1>
  </div>


  <div class="row">
    <div class="col-sm">
    <div class="card" style="width: 14rem;">
     <img class="card-img-top" src="../../../assets/img/image3.jpg" alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title text-dark font-weight-bold">Llanta camion grande.</h5>
       <p class="card-text text-dark">Llanta gruesa para carreterra de terraceria.</p>
       <div class="text-center">
           <h5 class="display-4">
              <small class="text-dark">$200</small>
           </h5>
       </div>
     </div>
   </div>
     
 </div>
 <div class="col-sm">
    <div class="card" style="width: 14rem;">
     <img class="card-img-top" src="../../../assets/img/image4.jpg" alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title text-dark font-weight-bold">Llantas chicas</h5>
       <p class="card-text text-dark">Repuesto indispensablo para toldos. Renta.</p>
       <div class="text-center">
           <h5 class="display-4">
              <small class="text-dark">$150</small>
           </h5>
       </div>
     </div>
   </div>
     
 </div>
 <div class="col-sm">
    <div class="card" style="width: 14rem;">
     <img class="card-img-top" src="../../../assets/img/image1.png" alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title text-dark font-weight-bold">Llanta camionera</h5>
       <p class="card-text text-dark">Lanta baja camionera para camionos terrosos.</p>
       <div class="text-center">
           <h5 class="display-4">
              <small class="text-dark">$100</small>
           </h5>
       </div>
     </div>
   </div>
     
 </div>
 <div class="col-sm">
    <div class="card" style="width: 14rem;">
     <img class="card-img-top" src="../../../assets/img/image2.png" alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title text-dark font-weight-bold">Llanta delgada.</h5>
       <p class="card-text text-dark">Llanta negra con bordes negros.</p>
       <div class="text-center">
           <h5 class="display-4">
              <small class="text-dark">$100</small>
           </h5>
       </div>
     </div>
   </div> 
 </div>   
</div>