<div class="container">
  <!-- encabezado-->
  <section>
  <article>

    <header>
    <mat-toolbar color="primary" class="title font-size-variable" >
      Resumen informativo
    </mat-toolbar>
  </header>
  <div class="page-content font-size-variable" >
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxFlexFill fxLayoutGap="15px" fxLayoutAlign="center">
      
      <mat-card>
          <mat-card-header>
              <mat-card-title>Resumen de llantas</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="chart">
          <canvas baseChart 
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
        </div>
          </mat-card-content>
      </mat-card>

    </div>

        </div>
        <table mat-table [dataSource]="llantas" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Name Column -->
          <ng-container matColumnDef="mantenimiento">
            <th mat-header-cell *matHeaderCellDef> mantenimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.mantenimiento}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="vulcanizadas">
            <th mat-header-cell *matHeaderCellDef> vulcanizadas </th>
            <td mat-cell *matCellDef="let element"> {{element.vulcanizadas}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="enuso">
            <th mat-header-cell *matHeaderCellDef> enuso </th>
            <td mat-cell *matCellDef="let element"> {{element.enuso}} </td>
          </ng-container>

          <ng-container matColumnDef="almacen">
            <th mat-header-cell *matHeaderCellDef> almacen </th>
            <td mat-cell *matCellDef="let element"> {{element.almacen}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        
    </article>
  </section>
  
  <footer id="main-footer">
    <!-- /PIE DE PAGINA-->
    <p>&copy; 2020 <a>EquipoUmizoomi</a></p>

    <div style="display: flex; justify-content: center; align-items: center;">
      <img src="{{dataURL}}">
      </div>

  </footer>
</div>

