<div class="container">
  <!-- encabezado-->
  <section>
  <article>
    <tr *ngFor="let llanta of llantas">
      <td>{{llanta.id}}</td>
      <td>{{llanta.mantenimiento}}</td>
      <td>{{llanta.vulcanizadas}}</td>
      <td>{{llanta.enuso}}</td>
      <td>{{llanta.almacen}}</td>
      <td>
          <button (click)="this.delete(llanta)">Delete</button>
      </td>
    </tr>
    <header>
    <mat-toolbar color="primary" class="title font-size-variable" >
      Resumen informativo
    </mat-toolbar>
  </header>
  <div class="page-content font-size-variable" >
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxFlexFill fxLayoutGap="15px" fxLayoutAlign="center">
      
      <mat-card>
          <mat-card-header>
              <mat-card-title>Resumen de llantas</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="chart">
          <canvas baseChart 
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
        </div>
          </mat-card-content>
      </mat-card>

    </div>

        </div>
      
    </article>
  </section>
  
  <footer id="main-footer">
    <!-- /PIE DE PAGINA-->
    <p>&copy; 2020 <a>EquipoUmizoomi</a></p>

    <div style="display: flex; justify-content: center; align-items: center;">
      <h2 style="color: black;">QR Umizumi</h2>
      <img src="{{dataURL}}">
      </div>

  </footer>
</div>

