<div class="container">
  <section>
    <article>
      <header>
        <mat-toolbar color="primary" class="title">
          Página de usuario
        </mat-toolbar>
      </header>

      <div class="page-content" *ngIf="authService.userData as user">
        <div
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutWrap
          fxFlexFill
          fxLayoutGap="15px"
          fxLayoutAlign="center"
        >
          <mat-card class="card-picture">
            <img mat-card-md-image class="user-picture" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}" />
            <mat-card-title class="user-name" fxLayout.gt-xs="row" fxLayout.xs="column">
            {{ user.displayName ? user.displayName : "Usuario" }}
            </mat-card-title>
            <mat-card-content>
            <mat-card-subtitle>ID de usuario</mat-card-subtitle>
            <p> {{ user.uid }}</p>
            </mat-card-content>
            <mat-card-content>
            <mat-card-subtitle>Correo electrónico</mat-card-subtitle>
            <p>{{ user.email }}</p>
            <p *ngIf="user.emailVerified else notVerified" >✔️ Correo electrónico verificado</p>
            <ng-template #notVerified>⚠️ Correo electrónico no verificado</ng-template>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </article>
  </section>

  <footer id="main-footer">
    <br /><br />
    <p>&copy; 2020 <a>EquipoUmizoomi</a></p>
  </footer>
</div>
