<div class="container">
  <header>
    <mat-toolbar color="primary" class="title">
      Registro de entrada de llantas
    </mat-toolbar>
  </header>
  <div
    class="page-content"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="7px"
    fxLayoutGap.sm="0px"
  >
    <mat-form-field fxFlex>
      <mat-label>Código de la Llanta</mat-label>
      <input #codigo matInput />
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Marca</mat-label>
      <input #marca matInput />
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Modelo</mat-label>
      <input #modelo matInput />
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Tipo</mat-label>
      <input #tipo matInput />
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Tamaño de ring</mat-label>
      <input #tamano matInput />
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Ancho de la llanta</mat-label>
      <input #ancho matInput />
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Profundidad en milímetros, de nueva</mat-label>
      <input #profundidad matInput />
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Rendimiento según fabricante en kilómetros</mat-label>
      <input #rendimiento matInput />
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Costo</mat-label>
      <input #costo matInput />
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label
        >Profundidad a la que se debe cambiar la llanta, en
        milímetros</mat-label
      >
      <input #cambio matInput />
    </mat-form-field>
    <div class="mat-radio-group">
      <mat-radio-group label="Está vulcanizada">
        <mat-radio-button value="1">Sí está vulcanizada</mat-radio-button>
        <mat-radio-button value="2">No está vulcanizada</mat-radio-button>
      </mat-radio-group>
    </div>
    <button mat-flat-button color="primary"
    (click)="this.crearLlanta(codigo.value,marca.value, modelo.value, tipo.value, tamano.value, ancho.value, profundidad.value, rendimiento.value, costo.value, cambio.value)"
    >Registrar</button>
  </div>
</div>
