<header>
    <mat-toolbar color="primary" class="title font-size-variable">
    <span class="mdi mdi-home-modern"></span>
    AutoMaGa
    </mat-toolbar>
</header>

<div class="page-content font-size-variable">
  <div class="container">
      <mat-card-title>Somos AutoMaGa</mat-card-title><br>
      
      <img src="https://live.staticflickr.com/3623/3453803655_fa574dbdbd_b.jpg" alt="">
      
      <mat-card>
            Una empresa mexicana de renta de camiones.<br>
            Nos dedicamos a la renta de autobuses y
            camionetas para el transporte turístico.
            
      </mat-card>
      <br>
      <img src="https://live.staticflickr.com/3357/3454614278_1362249551_n.jpg" alt="">
  </div>
</div>
