<div class="container">
  <!-- encabezado-->
  <section>
  <article>
    <tr *ngFor="let llanta of llantas">
      <td>{{llanta.id}}</td>
      <td>{{llanta.mantenimiento}}</td>
      <td>{{llanta.vulcanizadas}}</td>
      <td>{{llanta.enuso}}</td>
      <td>{{llanta.almacen}}</td>
      <td>
          <button (click)="this.delete(llanta)">Delete</button>
      </td>
    </tr>
    <header>
    <mat-toolbar color="primary" class="title font-size-variable" >
      Resumen informativo
    </mat-toolbar>
  </header>
  <div class="page-content font-size-variable" >
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxFlexFill fxLayoutGap="15px" fxLayoutAlign="center">
      
      <mat-card>
          <mat-card-header>
              <mat-card-title>Resumen de llantas</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="chart">
          <canvas baseChart 
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
        </div>
          </mat-card-content>
      </mat-card>

    </div>

        <p class="display-3">Objetivo</p>
        <div class="bg-left text-center">
          <p>
            Se priorizará tener el sitio web para dar un control de stock en la
            llantera, y/o en los camiones distribuidores de las llantas, para
            llevar al tanto de la tienda con el dueño y el jefe de compras.
            Contendrá información acerca de la ubicación de las llantas, su
            estado, su uso, compra, entre otros.
          </p>
          <p>
            Se tendrá presente un mejor manejo y un mayor uso como empresa de un
            buen control de stock, para saber el numero de llantas existentes, y
            así se priorizará que no haya un número de llantas inexistente.
          </p>
          <p>
            dueño de la empresa llantera, espera ahorrar costos aprovechando al
            máximo el inventario existente, si hay un inventario mínimo se
            deberá avisar que se está acabando la existencia de las llantas, y
            que el jefe compras pueda proveer de más llantas, su mantenimiento y
            obtener mayores ganancias con el stock siempre lleno.
          </p>
        </div>
        <p class="display-3">Alcance</p>
        <div class="bg-left text-center">
          <p>
            La página web se basa en el control interno de llantas en transporte
            pesado (Camiones) y su mantenimiento.
          </p>
        </div>
        <p class="display-3">Publico al que esta dirigido</p>
        <div class="bg-left text-center">
          <p>
            La Página Web cuenta con información detallada de activos internos
            de una corporación
          </p>
          <ul>
            Administracion Contabilidad Compras Pagos/Finanzas Almacen
          </ul>
        </div>
      </div>
      
    <p class="display-3">Accesibilidad (lector de pantalla)</p>
    <button type="submit" class="btn btn-primary" id="play" (click)="reproducir()"><img src="https://img.icons8.com/android/24/000000/play.png"/></button>
    <button type="button" class="btn btn-danger" id="pause" (click)="pausar()"><img src="https://img.icons8.com/android/24/000000/pause.png"/></button>
      <!-- Agregamos la tabla de grid angular-->
      <ag-grid-angular style="width: 602px; height: 280px;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs">
      </ag-grid-angular>
    </article>
  </section>
  
  <footer id="main-footer">
    <!-- /PIE DE PAGINA-->
    <p>&copy; 2020 <a>EquipoUmizoomi</a></p>

    <div style="display: flex; justify-content: center; align-items: center;">
      <h2 style="color: black;">QR Umizumi</h2>
      <img src="{{dataURL}}">
      </div>

  </footer>
</div>

