<div class="container">
<header>
  <mat-toolbar color="primary" class="title">
    Reporte No. 5468
  </mat-toolbar>
</header>
<div class="page-content">
  <table class="full-width border" cellspacing="0">
    <tr>
        <th>Reporte No.</th>
        <th>54687  </th>
    </tr>
</table>
<br>
<table class="full-width border" cellspacing="0">
    <tr>
        <td>Llantas en Inventario</td>
        <td>Llantas instaladas</td>
    </tr>
    <tr>
        <td>
            <table class="full-width border" cellspacing="0">
                <tr>
                    <td>Codigo Llanta</td>
                    <td>LL-00018</td>
                </tr>
                <tr>
                    <td>Marca</td>
                    <td>BRIDGESTONE</td>
                </tr>
                <tr>
                    <td>Modelo</td>
                    <td>82-W</td>
                </tr>
                <tr>
                    <td>tipo</td>
                    <td>Invierno</td>
                </tr>
                <tr>
                    <td>Ring</td>
                    <td>18"</td>
                </tr>
                <tr>
                    <td>Ancho</td>
                    <td>265</td>
                </tr>
                <tr>
                    <td>Profundidad Nueva</td>
                    <td>4 cm</td>
                </tr>
                <tr>
                    <td>Rendimiento</td>
                    <td>60.000 Km</td>
                </tr>
                <tr>
                    <td>Costo</td>
                    <td>3,410 $</td>
                </tr>
                <tr>
                    <td>Profundidad Cambio</td>
                    <td>2 cm</td>
                </tr>
                <tr>
                    <td>Vulcanizada</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>Cantidad de Vulcanizadas</td>
                    <td>0</td>
                </tr>
            </table>
            <br>
            <table class="full-width border" cellspacing="0">
                <tr>
                    <td>Codigo Llanta</td>
                    <td>LL-08421</td>
                </tr>
                <tr>
                    <td>Marca</td>
                    <td>BRIDGESTONE</td>
                </tr>
                <tr>
                    <td>Modelo</td>
                    <td>82-W</td>
                </tr>
                <tr>
                    <td>tipo</td>
                    <td>Invierno</td>
                </tr>
                <tr>
                    <td>Ring</td>
                    <td>18"</td>
                </tr>
                <tr>
                    <td>Ancho</td>
                    <td>265</td>
                </tr>
                <tr>
                    <td>Profundidad Nueva</td>
                    <td>4 cm</td>
                </tr>
                <tr>
                    <td>Rendimiento</td>
                    <td>60.000 Km</td>
                </tr>
                <tr>
                    <td>Costo</td>
                    <td>3,410 $</td>
                </tr>
                <tr>
                    <td>Profundidad Cambio</td>
                    <td>2 cm</td>
                </tr>
                <tr>
                    <td>Vulcanizada</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>Cantidad de Vulcanizadas</td>
                    <td>0</td>
                </tr>
            </table>
        </td>
        <td>
            <table class="full-width border" cellspacing="0">
                <tr>
                    <td>Codigo Llanta</td>
                    <td>LL-00001</td>
                </tr>
                <tr>
                    <td>Marca</td>
                    <td>PIRELLI</td>
                </tr>
                <tr>
                    <td>Modelo</td>
                    <td>93-V</td>
                </tr>
                <tr>
                    <td>tipo</td>
                    <td>Radial</td>
                </tr>
                <tr>
                    <td>Ring</td>
                    <td>18"</td>
                </tr>
                <tr>
                    <td>Ancho</td>
                    <td>265</td>
                </tr>
                <tr>
                    <td>Profundidad Nueva</td>
                    <td>3 cm</td>
                </tr>
                <tr>
                    <td>Rendimiento</td>
                    <td>45.000 Km</td>
                </tr>
                <tr>
                    <td>Costo</td>
                    <td>2,500 $</td>
                </tr>
                <tr>
                    <td>Profundidad Cambio</td>
                    <td>1 cm</td>
                </tr>
                <tr>
                    <td>Vulcanizada</td>
                    <td>SI</td>
                </tr>
                <tr>
                    <td>Cantidad de Vulcanizadas</td>
                    <td>3</td>
                </tr>
            </table>
            <br>
            <table class="full-width border" cellspacing="0">
                <tr>
                    <td>Codigo Llanta</td>
                    <td>LL-00011</td>
                </tr>
                <tr>
                    <td>Marca</td>
                    <td>PIRELLI</td>
                </tr>
                <tr>
                    <td>Modelo</td>
                    <td>93-V</td>
                </tr>
                <tr>
                    <td>tipo</td>
                    <td>Radial</td>
                </tr>
                <tr>
                    <td>Ring</td>
                    <td>18"</td>
                </tr>
                <tr>
                    <td>Ancho</td>
                    <td>265</td>
                </tr>
                <tr>
                    <td>Profundidad Nueva</td>
                    <td>3 cm</td>
                </tr>
                <tr>
                    <td>Rendimiento</td>
                    <td>45.000 Km</td>
                </tr>
                <tr>
                    <td>Costo</td>
                    <td>2,500 $</td>
                </tr>
                <tr>
                    <td>Profundidad Cambio</td>
                    <td>1 cm</td>
                </tr>
                <tr>
                    <td>Vulcanizada</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>Cantidad de Vulcanizadas</td>
                    <td>0</td>
                </tr>
            </table>
            <br>
            <table class="full-width border" cellspacing="0">
                <tr>
                    <td>Codigo Llanta</td>
                    <td>LL-00028</td>
                </tr>
                <tr>
                    <td>Marca</td>
                    <td>PIRELLI</td>
                </tr>
                <tr>
                    <td>Modelo</td>
                    <td>93-V</td>
                </tr>
                <tr>
                    <td>tipo</td>
                    <td>Radial</td>
                </tr>
                <tr>
                    <td>Ring</td>
                    <td>18"</td>
                </tr>
                <tr>
                    <td>Ancho</td>
                    <td>265</td>
                </tr>
                <tr>
                    <td>Profundidad Nueva</td>
                    <td>3 cm</td>
                </tr>
                <tr>
                    <td>Rendimiento</td>
                    <td>45.000 Km</td>
                </tr>
                <tr>
                    <td>Costo</td>
                    <td>2,500 $</td>
                </tr>
                <tr>
                    <td>Profundidad Cambio</td>
                    <td>1 cm</td>
                </tr>
                <tr>
                    <td>Vulcanizada</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>Cantidad de Vulcanizadas</td>
                    <td>0</td>
                </tr>
            </table>
            <br>
            <table class="full-width border" cellspacing="0">
                <tr>
                    <td>Codigo Llanta</td>
                    <td>LL-00054</td>
                </tr>
                <tr>
                    <td>Marca</td>
                    <td>PIRELLI</td>
                </tr>
                <tr>
                    <td>Modelo</td>
                    <td>93-V</td>
                </tr>
                <tr>
                    <td>tipo</td>
                    <td>Radial</td>
                </tr>
                <tr>
                    <td>Ring</td>
                    <td>18"</td>
                </tr>
                <tr>
                    <td>Ancho</td>
                    <td>265</td>
                </tr>
                <tr>
                    <td>Profundidad Nueva</td>
                    <td>3 cm</td>
                </tr>
                <tr>
                    <td>Rendimiento</td>
                    <td>45.000 Km</td>
                </tr>
                <tr>
                    <td>Costo</td>
                    <td>2,500 $</td>
                </tr>
                <tr>
                    <td>Profundidad Cambio</td>
                    <td>1 cm</td>
                </tr>
                <tr>
                    <td>Vulcanizada</td>
                    <td>SI</td>
                </tr>
                <tr>
                    <td>Cantidad de Vulcanizadas</td>
                    <td>1</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</div>
