<div class="container">
  <form class="form">
    <mat-form-field class="full-width">
      <!-- <header>
        <mat-toolbar color="primary" class="title ">
          Iniciar sesión
        </mat-toolbar>
      </header> -->
      <mat-label>Usuario</mat-label>
      <input
        matInput
        #userName
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Introduce tu usuario"
      />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        #userPassword
        placeholder="Introduce tu contraseña"
        [type]="hide ? 'password' : 'text'"
      />
      <mat-icon class="point-me" matSuffix (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>


    <!-- Calling SignIn Api from AuthService -->
    <button
      mat-flat-button color="primary"
      (click)="authService.SignIn(userName.value, userPassword.value)"
    >
    Iniciar sesión
  </button>
  <br>
  <br>
  <!-- Calling GoogleAuth Api from AuthService -->
  <button
  mat-flat-button color="primary"
  (click)="authService.GoogleAuth()"
>
Iniciar sesión con Google
</button>
<br>
<br>

    <div class="point-me forgotPassword">
      <span routerLink="/forgot-password">¿Olvidaste tu contraseña?</span>
    </div>

    <div class="redirectToLogin">
      <span
        >¿No tienes cuenta?<span
          class="point-me redirect"
          routerLink="/register-user"
        >
          ¡Regístrate!</span
        ></span
      >
    </div>
  </form>
</div>
