<!-- directivas de la libreria de grid 
<ag-grid-angular
    style="width: 500px; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>  -->


<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Cabecera fija</title>

</head>

<body>
	<header id="main-header"> <!-- / ENCABEZADO -->
		<a id="logo-header" href="#">
			<span class="site-name">Equipo Umizoomi</span>
			<span class="site-desc">Pagina Prototipo</span>
		</a> 
		
		<nav> <!-- /ENLACES DE NAVEGACION-->
			<ul>
				<!-- <li><a href="#">Inicio</a></li>
				<li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li> -->
                <!-- Menu de la barra de navegacion -->   
            </ul>
            
		</nav>
    </header>
    
	<section id="main-content"> <!-- /SECCION DE CONTENIDO INFORMATIVO-->
		<article> <!-- / ARTICULO DE INFORMACION -->
			<header> <!-- /CABECERA DEL LA INFORMACION -->
				<h1>Esta es una página con cabecera fija-prototipo</h1>
			</header>
			<img src="" alt="" /> <!-- /IMAGEN-->
			<div class="content">
				<p>Este es el primer parrafo</p>
				<p>Este es un segundo parrafo</p>
                <p>Este es un tercer parrafo</p>
            </div>
            <!-- Agregamos la tabla de grid angular-->
            <ag-grid-angular 
                style="width: 602px; height: 280px;"
                class="ag-theme-alpine"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
            > 
            </ag-grid-angular>  

		</article> 
	</section> 

	<footer id="main-footer"> <!-- /PIE DE PAGINA-->
		<p>&copy; 2020 <a>EquipoUmizoomi</a></p>
	</footer> 
	
</body>
</html>
