<div class="container font-size-variable">
    <h3 class="text-uppercase text-center">FAQ</h3>
    <br>
    <div class="row text-left">
        <div>
            <p >¿Quiénes somos?</p>
            <p class="pb-4" >R: Una pequeña empresa mexicana, fundada el 23 de mayo de 2020, para la renta de camiones</p>
            <p >¿Qué hacemos?</p>
            <p class="pb-4" >R: Nos dedicamos al inventario y mantenimiento de llantas para reducir los costos gastados en estas.</p>
            <p>¿Cómo nos puedes contactar?</p>
            <p class="pb-4">R: En nuestro sitio web tenemos un apartado dedicado a todos nuestros medios de comunicación, ya sea por redes socilaes o por numero telefonico</p>
            <p>¿Estan contratando?</p>
            <p class="pb-4">R: Para saberlo puedes contactarnos para mayor información</p>
            <p>¿Cómo gestionan las llantas y su mantenimiento?</p>
            <p class="pb-4">R: Utilizamos un sitio web en el que podrán meterse nuestros clientes puedan ver todas sus llantas, tanto equipadas como en su almacén</p>
            <p>¿Soy un cliente necesito ayuda rápidamente por una emergencia con su sistema?</p>
            <p class="pb-4">R: Si eres un cliente te proveeremos con líneas directas hacia nuestros técnicos e ingenieros para que te ayuden a resolver tu problema lo más rápido posible</p>
            <p>¿En qué horario los puedo contactar?</p>
            <p class="pb-4">R: Si eres un cliente 24/7, en caso contrario tardamos hasta un máximo de 48 hrs en atender tu solicitud.</p>
        </div>
    </div>
</div>