<header>
    <mat-toolbar color="primary" class="title font-size-variable">
    <span class="mdi mdi-comment-question"></span>
    Preguntas frecuentes
    </mat-toolbar>
</header>

<div class="page-content font-size-variable">
  <div class="container">
    <mat-card>
        <mat-card-content class="font-size-variable">
    <p>¿Quiénes somos?</p>
    <p>R: Una pequeña empresa mexicana, fundada el 23 de mayo de 2020, para la gestión de neumáticos.</p>
    <br>
    <p>¿Qué hacemos?</p>
    <p>R: Nos dedicamos al inventario y mantenimiento de llantas para reducir los costos gastados en estas.</p>
    <br>
    <p>¿Cómo nos puedes contactar?</p>
    <p>R: En nuestro sitio web tenemos un apartado dedicado a todos nuestros medios de comunicación, ya sea por redes socilaes o por numero telefonico</p>
    <br>
    <p>¿Estan contratando?</p>
    <p>R: Para saberlo puedes contactarnos para mayor información</p>
    <br>
    <p>¿Cómo gestionan las llantas y su mantenimiento?</p>
    <p>R: Utilizamos un sitio web en el que podrán meterse nuestros clientes puedan ver todas sus llantas, tanto equipadas como en su almacén</p>
    <br>
    <p>¿Soy un cliente necesito ayuda rápidamente por una emergencia con su sistema?</p>
    <p>R: Si eres un cliente te proveeremos con líneas directas hacia nuestros técnicos e ingenieros para que te ayuden a resolver tu problema lo más rápido posible</p>
    <br>
    <p>¿En qué horario los puedo contactar?</p>
    <p>R: Si eres un cliente 24/7, en caso contrario tardamos hasta un máximo de 48 hrs en atender tu solicitud.</p>
        </mat-card-content>
    </mat-card>
  </div>
</div>